body {
    background-color: #000;
    background-image: url("main01.jpg");
  }
  
  #landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 400px;
  }
  
  #landing-header h1 {
    color: #fff;
  }
  